name: Test Windows

on:
  workflow_dispatch:

jobs:
  test-windows-stable:
    name: test windows stable
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install Microsoft Edge Stable
        run: choco install microsoft-edge -y
      - name: Install Google Chrome Stable
        run: choco install googlechrome -y
      - name: Run tests
        run: cargo test stable -- --show-output

  test-windows-dev:
    name: test windows dev
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install Microsoft Edge Dev
        run: choco install microsoft-edge-insider-dev -y
      - name: Install Google Chrome Dev
        run: choco install googlechromedev --pre -y
      - name: Run tests
        run: cargo test dev -- --show-output

  test-windows-beta:
    name: test windows beta
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install Microsoft Edge Beta
        run: choco install microsoft-edge-insider -y
      - name: Install Google Chrome Beta
        run: choco install googlechromebeta --pre -y
      - name: Run tests
        run: cargo test beta -- --show-output
  
  test-windows-canary:
    name: test windows canary
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      # TODO: Add Microsoft Edge Canary installation
      # - name: Install Microsoft Edge Canary
      #   run: choco install microsoft-edge-insider -y
      - name: Install Google Chrome Canary
        run: choco install googlechromecanary --pre -y
      - name: Run tests
        run: cargo test canary -- --show-output
